*~
*.o
*.mod
*.swp
*.swo
my_demo
my_demo_mpi
*.so
my_plugin.c
plugin.h
/env
__pycache__
*.sh
*.log
*.o*
*.e*
slurm*out
*.pyc
_*
*.csv
*.nc
*.png
cffi_interface/cffi_plugin.c
lib/
.ipynb_checkpoints
Makefile.in
